<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%p] [%t] [%C] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="net.technolords" level="debug"/>

    <root level="info">
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>